@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    user-select: none;
    -webkit-tap-highlight-color: transparent;

}
*:focus{
  outline: none;
}
body{
    background-color:black;
}
header{
    font-weight: 600;
    display: flex;
    width:100%;
    justify-content: space-between;
    align-items: center;
    height:10vh;
    background: linear-gradient(to right,rgb(142, 253, 253),aqua,rgb(191, 255, 255));
}
.about-link{
    text-decoration: none;
    color: black;
    margin-right: 4vw;
    font-size: 1.2em;
}
.logo-container{
    margin-left: 2.5vw;
}
.logo-container img{
    height:6vh;
    vertical-align:bottom;
}
.logo-container a{
    text-decoration: none;
    color: black;
    font-size:1.6em;
}
.tools{
    position: absolute;
    height: 72vh;
    width:5vw;
    border-radius:15px;
    /* background-color:rgb(103, 250, 103); */
    border: 1px solid gray;
    background:linear-gradient(110deg,rgb(189, 255, 189),rgb(103, 250, 103),rgb(189, 255, 189));
    right:2vw;
    top:20vh;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content:space-around;
}
.tools div{
    text-align:center;
    font-size:0.67em;
    font-weight: 600;
}
.tools input{
    cursor:pointer;
    margin-top:0.5em;
    transition: 1s;
}
.tools input:hover{
    transform: scale(1.1);
}
.tools button{
    transition: 1s;
    cursor: pointer;
    margin-top:0.5em;
}
.tools button:hover{
    transform: scale(1.2);
}
#color{
    width:32px;
    height:26px;
    
}
#bcolor{
    width:32px;
    height:26px;
}
#pen{
    width:22px;
    height:22px;
    border: none;
    border-radius:5px;
    background-color: rgb(10, 6, 255);
    border: 1px solid gray;

}
#eraser{
    width:22px;
    height:22px;
    border: none;
    border-radius:5px;
    background-color: rgb(255, 197, 6);
    border: 1px solid gray;

}
#delete{
    width:22px;
    height:22px;
    border: none;
    border-radius:5px;
    background-color: rgb(255, 89, 89);
    border: 1px solid gray;

}
#save{
    width:22px;
    height:22px;
    border: none;
    border-radius:5px;
    background-color: rgb(255, 251, 13);
    border: 1px solid gray;

}
#size{
    width:32px;
}
#canvas{
    border: 2px solid black;
   
  
}